

.navbar_container{
    width: 100%;
    height: 4vh;
    position: absolute;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 2px solid #00338D;

}

.Logo_container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Logo {
    margin-left: 10px;
    padding-top: 10px;
    height: 80%;
}

.Logo img{
    height: 100%;
}

.search {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    height: 80%;
    width: 80%;
    box-sizing:border-box;
    font-size: 18px;
}

.searchBtn {
    height: 80%;
    width: 5%;
    min-width: 30px;
    margin-left: 0.2%;
}

.searchBtn button{
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

.searchBtnIcon{
    height: 100%;
    width: 100%;
    font-size: 35px;
}


.notifications{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%;
}

.notification_container{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 10px;
}


.notification_icon{
    display: flex;
    height: 100%;
    font-size: 27.5px;
    align-items: center;
}

.notification_number{
    width: 17px;
    height: 17px;
    left: -12px;
    top: 12px;
    font-size: 10.5px;
    position: relative;
    background-color: #0091DA;
    border-radius:50%;
    text-align: center;
}

.hidden{
    visibility: hidden;
}

.notification_number span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }