.boiler_container{
    display:flex;

}

.boiler_content_container{
    margin-top: 5vh;
    width: 100%;
    height: calc(95vh - 2px);
    justify-content: center;
    display: flex;
}

.boiler_content_container_center{
    width: 70%;
    display: flex;
}

.boiler_sidebar{
    border-right: 1px groove rgba(255,255,255,.2);
}

.boiler_content{
    width: 100%;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    border-right: 1px groove rgba(255,255,255,.2);
}


h1{
    font-size: 80px;
    color: red;
}


